quart==0.19.4
werkzeug==3.0.1
python-telegram-bot==20.7
firebase-admin==6.4.0
hypercorn[quart]==0.16.0
python-binance==1.0.17
httpx==0.25.2
luno-python==0.0.10
cryptography==38.0.1
fastapi
python-dotenv
uvicorn
